@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
  max-width: 100% !important;
}


.p-calendar .p-datepicker-trigger {
  @apply bg-purple-600;
  border-color: #7c3aed;
}

/* Cambiar el fondo al pasar el mouse */
.p-calendar .p-datepicker-trigger:hover {
  @apply bg-purple-700;
}

.p-inputtext:focus,
.p-inputwrapper-focus,
.p-dropdown .p-inputtext:focus,
.p-inputmask:focus {
  @apply border-purple-600 ring-1 ring-purple-600;
}

.p-calendar.p-focus > .p-inputtext {
  @apply border-purple-600 ring-1 ring-purple-600;
}
